body 
    color: $text-color
    font-family: sans-serif
    
.container
    width: 1170px
    margin: auto

.button 
    background-color: $main-color
    border: none
    border-radius: 10px
    padding: 20px 30px
    font: 
        size: 13px
        weight: 700