.hero 
    padding: 50px 0
    background-color: $secondary 
    &-block 
        display: flex
    &-text 
        padding-right: 100px
        flex-basis: 55%
        &__title 
            font-size: 41px
            +bold
            line-height: 55px
            margin-bottom: 37px
            animation-name: fadeIn
            animation-duration: 2s
        &__subtitle 
            font-size: 20px
            +bold
            margin-bottom: 69px
            display: inline-block /* Чтобы применился отступ снизу */
            animation-name: fadeIn
            animation-duration: 2s
    &-list 
        list-style: none
        margin: 0
        padding: 0
        &__item 
            display: flex
            align-items: center
            margin-bottom: 24px 
            &-1 
                animation-name: fadeIn
                animation-duration: 2s 
                animation-delay: 0.4s
            &-2 
                animation: fadeIn 2s 0.8s
            &-3
                animation: fadeIn 2s 1.2s
            &:last-child 
                margin-bottom: 0
        &__image 
            min-width: 40px
            min-height: 40px 
            border: 2px solid $main-color
            border-radius: 50%
            margin-right: 30px
            display: flex
            justify-content: center
            align-items: center /* Выравнивает картинки и кружочки между собой */
        &__text 
            font-size: 14px
            max-width: 300px
            line-height: 1.7
    &-image 
        animation: fadeIn 2.5s 1.7s
@media (max-width: 1200px) 
    .hero 
        &-block 
            flex-direction: column
        &-list 
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            align-items: center
            margin-bottom: 54px 
            &__item 
                width: 30%
                margin-bottom: 20px
            &__image 
                margin-right: 15px
        &-text 
            padding-right: 0
        &-image 
            align-self: center /* Выравнивает фото по центру */
            
@media (max-width: 768px) 
    .hero 
        &-text 
            &__title 
                font-size: 24px
                line-height: 1.4
                margin-bottom: 15px
            &__subtitle 
                font-size: 16px
                margin-bottom: 30px
        &-list 
            &__item 
                width: 100%
            &__text 
                max-width: 90%
                font-size: 12px



