.navbar
    &-block 
        display: flex
        justify-content: space-between
        align-items: center
    &__info 
        display: flex
        align-items: center
    &__contacts 
        display: flex
        flex-direction: column
        text-align: right
    &__phone 
        color: $text-color
        text-decoration: none
        font: 
            size: 20px
            weight: 700
        margin-top: 10px
    &__button 
        margin-left: 28px
        

.header 
    padding-top: 10px
    padding-bottom: 10px
