.portfolio 
    background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left // Картинка повторяется по вертикали
    background-size: 50%
    &__title 
        margin: auto 
        margin-bottom: 80px 
        animation: fadeIn 2s
    &__arrows 
        max-width: 120px // Максимальная ширина блока со стрелками
        margin: auto  // Выравнивает стрелки по центру 
        margin-top: 68px
        display: flex // Чтобы стрелки стали рядом друг с другом 
        justify-content: space-between // Чтобы стрелки разошлись по углам друг от друга
.slider
    &__image 
        margin: auto // Выравнивает картинку в слайдере по центру (без огромного отступа справа)
    &__item-1 
        animation: fadeIn 2s 0.4s 
    &__item-2 
        animation: fadeIn 2s 0.8s 
    &__item-3 
        animation: fadeIn 2s 1.2s 
    &__item-4 
        animation: fadeIn 2s 1.6s 
    &__item-5 
        animation: fadeIn 2s 2s 
    &__item-6 
        animation: fadeIn 2s 2.4s 