@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans Cyrl Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: local("../fonts/MuseoSansCyrl/MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Museo Sans Cyrl Light", sans-serif;
  font-weight: 300; /* Если не загрузится Museo, толщина родного шрифта будет такой */
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  border: none;
  border-radius: 10px;
  padding: 18px 30px;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  font-size: 13px;
  outline: none;
}
.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}
.section-title {
  font-size: 24px;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  margin-top: 0;
  text-align: center;
  max-width: 500px;
  line-height: 35px;
}
.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 5px;
}
.input:focus {
  outline: none;
  border: 2px solid #ffbb00;
}

.arrow-up {
  background: url("../img/arrow/arrow.png") 50% 50% no-repeat;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}
.arrow-up:hover {
  opacity: 1;
}
.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header {
  padding-top: 10px;
  padding-bottom: 7px;
}

.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__info {
  display: flex;
  align-items: center;
}
.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.navbar__adress {
  font-size: 13px;
}
.navbar__phone {
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  margin-top: 6px;
}
.navbar__button {
  margin-left: 28px;
}

/* Адаптив на экранах меньше 576px (все экраны до 576px), скрыли блок contacts */
@media (max-width: 576px) {
  .navbar__contacts {
    display: none;
  }
}
@media (max-width: 320px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 15px 27px;
    margin-left: 10px;
    font-size: 10px;
  }
  .navbar__logo img {
    width: 91px;
  }
}
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.hero-block {
  display: flex;
}
.hero-text {
  padding-right: 100px;
  flex-basis: 55%;
}
.hero-text__title {
  font-size: 41px;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  line-height: 55px;
  margin-bottom: 37px;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.hero-text__subtitle {
  font-size: 20px;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  margin-bottom: 69px;
  display: inline-block;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.hero-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hero-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.hero-list__item-1 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.4s;
}
.hero-list__item-2 {
  animation: fadeIn 2s 0.8s;
}
.hero-list__item-3 {
  animation: fadeIn 2s 1.2s;
}
.hero-list__item:last-child {
  margin-bottom: 0;
}
.hero-list__image {
  min-width: 40px;
  min-height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-list__text {
  font-size: 14px;
  max-width: 300px;
  line-height: 1.7;
}
.hero-image {
  animation: fadeIn 2.5s 1.7s;
}

@media (max-width: 1200px) {
  .hero-block {
    flex-direction: column;
  }
  .hero-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 54px;
  }
  .hero-list__item {
    width: 30%;
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-image {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .hero-list__item {
    width: 100%;
  }
  .hero-list__text {
    max-width: 90%;
    font-size: 12px;
  }
}
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  /* Фон заполняет страницу */
  background-size: contain;
  position: relative;
}
.offer:before {
  content: "";
  background-color: #fff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* Чтобы пустой элемент приклеился к левому верхнему углу контейнера .offer */
}
.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
  animation: fadeInLeft 2s 1s;
}
.offer__title {
  max-width: 350px;
  margin-bottom: 24px;
  text-align: left;
}
.offer__subtitle {
  max-width: 250px;
  line-height: 25px;
  margin-bottom: 30px;
}
.offer__form {
  margin-bottom: 30px;
}
.offer__input {
  margin-bottom: 28px;
  width: 240px;
}
.offer__input:first-child {
  margin-right: 10px;
}
.offer__button {
  width: 100%;
  min-height: 70px;
  font-size: 16px;
}
.offer__description {
  display: flex;
  justify-content: space-between;
}
.offer__text {
  font-size: 15px;
  line-height: 24px;
}
.offer__text:first-child {
  margin-right: 60px;
}
.offer__phone {
  text-decoration: none;
  color: #333333;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
}

@media (max-width: 1200px) {
  .offer__input {
    width: 100%;
  }
  .offer__description {
    display: inline;
  }
  .offer__text:first-child {
    margin-right: 0;
  }
  .section {
    padding: 50px 0;
  }
}
@media (max-width: 930px) {
  .offer-block {
    padding-right: 60px;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
}
/*  940px, потому что поля появляются над картинкой в этот момент*/
@media (max-width: 768px) {
  .offer {
    background: none;
  }
  .offer:before {
    content: "";
    width: 0;
    height: 0;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    max-width: 100%;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
}
.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}
.portfolio__title {
  margin: auto;
  margin-bottom: 80px;
  animation: fadeIn 2s;
}
.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}

.slider__image {
  margin: auto;
}
.slider__item-1 {
  animation: fadeIn 2s 0.4s;
}
.slider__item-2 {
  animation: fadeIn 2s 0.8s;
}
.slider__item-3 {
  animation: fadeIn 2s 1.2s;
}
.slider__item-4 {
  animation: fadeIn 2s 1.6s;
}
.slider__item-5 {
  animation: fadeIn 2s 2s;
}
.slider__item-6 {
  animation: fadeIn 2s 2.4s;
}

.price__title {
  margin: auto;
  margin-bottom: 58px;
  animation: fadeIn 2s;
}
.price__subtitle {
  text-align: center;
  margin-bottom: 59px;
  animation: fadeIn 2s 0.2s;
}
.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}
.card:hover .card__image:before {
  opacity: 1;
}
.card-1 {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.4s;
}
.card-2 {
  animation: fadeIn 2s 0.8s;
}
.card-3 {
  animation: fadeIn 2s 1.2s;
}
.card-4 {
  animation: fadeIn 2s 1.6s;
}
.card-5 {
  animation: fadeIn 2s 2s;
}
.card-6 {
  animation: fadeIn 2s 2.4s;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__text {
  padding-top: 40px;
  padding-bottom: 40px;
}
.card__image {
  position: relative;
}
.card__image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.2s;
}
.card__photo {
  display: block;
}
.card__title {
  margin-top: 0;
}
.card__link {
  display: inline-block;
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-weight: 700; /* Если не загрузится Museo, толщина родного шрифта будет такой */
  text-decoration: none;
  color: #333333;
  position: relative;
}
.card__link:hover:after {
  height: 12px;
  z-index: -1;
}
.card__link:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .cards {
    justify-content: space-around;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal_active {
  display: flex;
}
.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  height: 200px;
  background-color: #fff;
  padding: 40px;
}
.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}/*# sourceMappingURL=style.css.map */